.filter {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter-inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.form, h1 {
  color: white;
}

#name-filter {
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}
